<head>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

</head>

<body onload="getSignalInfo();">

	<h2 id="sinr"></h2>
	<h2 id="rsrq"></h2>
	<h2 id="rsrp"></h2>
	<h2 id="rssi"></h2>
	<h2 id="cell_id"></h2>

	<script>
		function getSignalInfo() {
			setTimeout(function () {

			  $.get("signal-info", function(data, status){

    				$('#sinr').html("sinr: " + data.sinr);
    				$('#rsrq').html("rsrq: " + data.rsrq);
    				$('#rsrp').html("rsrp: " + data.rsrp);
    				$('#rssi').html("rssi: " + data.rssi);
    				$('#cell_id').html("cell_id: " + data.cell_id);
  				});

				getSignalInfo();
			}, 1500)
			return false;
		}
	</script>


</body>